@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=clash-display@200,300,400,500,600,700,1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.hero {
  /* font-family: "Maven Pro", sans-serif; */
  font-family: "Clash Display", sans-serif;
}

.cursive {
  font-family: "Dancing Script", cursive;
}

@font-face{
  font-family: "Hendrix";
  src:url("/fonts/brhendrix.otf")
}
.scroll-container {
  height: 55vh;
  overflow-y: scroll; /* Enable vertical scrolling */
  overflow-x: hidden; /* Hide horizontal scrolling */
  position: relative; /* Ensure it’s positioned correctly for scrolling */
}

.scroll-container img {
  display: block; /* Ensure the image doesn't cause overflow issues */
  width: 100%; /* Ensure the image scales to fit the container */
}